name: SAST - SonarCloud Caller
on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request_target:
  workflow_dispatch:

jobs:
  do_nothing:
    runs-on: macos-latest
    steps:
      - run: echo "Doing nothing"
